@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive');
@import url('https://fonts.googleapis.com/css?family=Kristi');

* {
  margin: 0;
  font-family: 'Cedarville Cursive', 'Kristi', sans-serif;
  font-size: 1.3em;
  text-align: center;
}
